/*  your css code here. If applicable */
.container{
	padding:20px;
	background-color:#f5f5f5;
	
}
.testimonial{
background-color:white;
	border:1px solid #ddd;
	padding:15px;
	marigin-bottom:15px;

	}
.testimonial h4{
	font-style:italic;
	margin-top:10px;
	text-align:right;
	margin-bottom:0px;
	
}